<p>Ha habido un error, ¿quieres añadir el diagrama de tu placa? Visita nuestro <a href="https://github.com/pinout-xyz/Pinout.xyz">repositorio de GitHub</a>e informa de un error o tramita un Pull Request.</p>
<p>Parte de <a href="https://www.gadgetoid.com">gadgetoid.com</a>. Mantenido por <a href="https://fosstodon.org/@gadgetoid">@Gadgetoid@fosstodon.org</a>.</p>
<p>Traducción <a href="https://github.com/ResonantWave">@ResonantWave</a> y <a href="https://github.com/IkerGarcia">@IkerGarcia</a>.</p>
