<!doctype html>
<html lang="{{langcode}}">
	<head>
		<meta http-equiv="content-type" content="text/html;charset=utf-8" />
		<title>{{title}}</title>
		<meta name="description" content="{{description}}" />
		<link href='//fonts.googleapis.com/css?family=Sanchez|Ubuntu+Mono' rel='stylesheet' type='text/css' />
		<link href='{{resource_url}}prettify/prettify.css' rel='stylesheet' />
		<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
		<link href="{{resource_url}}pinout.css?v={{v}}" rel="stylesheet">
		<link href="{{resource_url}}print.css?v={{v}}" rel="stylesheet" media="print">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
		{{hreflang}}
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-69846516-5', 'auto');
		  ga('send', 'pageview');

		</script>
	</head>
	<body>
		<div id="container">
			<ul class="main-nav">
				<li><a href="https://twitter.com/gadgetoid"><i class="fa fa-twitter"></i> @Gadgetoid</a></li>
				<li><a href="https://twitter.com/nixijav"><i class="fa fa-twitter"></i> @nixijav</a></li>
				<li><a href="https://github.com/Gadgetoid/Pinout2"><i class="fa fa-github"></i> Contribuye</a></li>
				{{lang_links}}
			</ul>
			<h1 class="logo"><a title="Raspberry Pi GPIO Pinout home" href="/"><img src="{{resource_url}}pinout-logo.png" style="top:8px;" /><span>Raspberry Pi</span>n<span class="out">out</span></a></h1>
			<div class="overlay-container">
				<span>Aprende los pines de la Pi y sus add-ons <i class="fa fa-arrow-right"></i></span>
				<div class="drop-down">
					<span>Elige&hellip;</span>
					<ul class="overlay">
						{{overlays}}
					</ul>
				</div>
			</div>
			<nav id="gpio">
				<div id="pinbase"></div>
				<div id="pinbasebplus"></div>
				{{nav}}
			</nav>
			<div id="content">
				<div id="pages">
					{{content}}
				</div>
			</div>
			<div class="footer" style="clear: both;padding: 20px 0px;text-align:center;">
				<p>Gracias a <a href="https://twitter.com/roguehal13">@RogueHAL13</a>, <a href="https://twitter.com/ardadev">@ardadev</a>, <a href="https://twitter.com/nixijav">@nixijav</a></p>
				<p>¿Has encontrado un error o quieres añadir tu propia placa? <a href="https://github.com/gadgetoid/Pinout2">Ven a nuestro repositorio de GitHub</a> y envía un Issue o un Pull Request!</p>
			</div>
		</div>

		<script type="text/javascript" src="//cdn.jsdelivr.net/jquery/1.9.1/jquery-1.9.1.min.js"></script>
		<script type="text/javascript" src="//cdn.jsdelivr.net/prettify/0.1/prettify.js"></script>
    	<script src='{{resource_url}}prettify/lang-ruby.js'></script>
    	<script src='{{resource_url}}prettify/lang-bash.js'></script>
	<script src='{{resource_url}}gaat.js'></script>
		<script src='{{resource_url}}pinout.js?v={{v}}'></script>
</body>
</html>
