<!doctype html>
<html>
	<head><script type="text/javascript">var NREUMQ=NREUMQ||[];NREUMQ.push(["mark","firstbyte",new Date().getTime()]);</script>
		<title>Raspberry Pi Pinout - Rev 2 Board</title>
		<link href='http://fonts.googleapis.com/css?family=Sanchez|Ubuntu+Mono' rel='stylesheet' type='text/css' />
		<link href='{{resource_url}}prettify/prettify.css' rel='stylesheet' />
		<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
		<link href="{{resource_url}}pinout.css?v=0011" rel="stylesheet">
    <!--script type='text/javascript'>
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-32070014-1']);
      _gaq.push(['_trackPageview']);
      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script-->
	</head>
	<body>
		<div id="container">
		<div class="latest" style="padding:10px;font-size:14px;margin-bottom:10px;text-align:right;">
			Latest at Gadgetoid: <a href="http://pi.gadgetoid.com/article/parallax-propeller-p8x32a-first-impressions">Propeller ASC+, the Arduino-compatible multi-core micro: read my first impressions</a>
		</div>
		<h1 class="logo"><img src="{{resource_url}}pinout-logo.png" style="top:8px;" /><span>Pi</span>n<span class="out">out</span></h1>

		<nav id="gpio">
			<div id="pinbase"></div>
			<div id="pinbasebplus"></div>
			{{nav}}
		</nav>
		<div id="content">
			<div id="pages">
				{{content}}
			</div>
		</div>

		<script type="text/javascript" src="http://cdn.jsdelivr.net/jquery/1.9.1/jquery-1.9.1.min.js"></script>
		<script type="text/javascript" src="http://cdn.jsdelivr.net/cycle/2.9999.81/jquery.cycle.all.js"></script>
		<script type="text/javascript" src="http://cdn.jsdelivr.net/prettify/0.1/prettify.js"></script>
    	<script src='{{resource_url}}prettify/lang-ruby.js'></script>
    	<script src='{{resource_url}}prettify/lang-bash.js'></script>
		<script src='http://cdn.jsdelivr.net/history.js/1.7.1/history.js'></script>
		<script src='http://cdn.jsdelivr.net/history.js/1.7.1/history.adapter.jquery.js'></script>
		<script src='{{resource_url}}pinout.js?v=0.8'></script>
	<!--script type="text/javascript">if (typeof NREUMQ !== "undefined") { if (!NREUMQ.f) { NREUMQ.f=function() {
NREUMQ.push(["load",new Date().getTime()]);
var e=document.createElement("script");
e.type="text/javascript";
e.src=(("http:"===document.location.protocol)?"http:":"https:") + "//" +
  "js-agent.newrelic.com/nr-100.js";
document.body.appendChild(e);
if(NREUMQ.a)NREUMQ.a();
};
NREUMQ.a=window.onload;window.onload=NREUMQ.f;
};
NREUMQ.push(["nrfj","bam.nr-data.net","3cd5994c2d","2368869","Jl1cQ0MODVRUSho1DAtTRkVQTiBIQRdyIzFFQltZXhQVFxlja0laRm8ZHg==",0,1,new Date().getTime(),"","","","",""]);}</script-->
</body>
</html>
