<!doctype html>
<html>
	<head>
		<title>{{title}}</title>
		<meta name="description" content="{{description}}" />
		<link href='http://fonts.googleapis.com/css?family=Sanchez|Ubuntu+Mono' rel='stylesheet' type='text/css' />
		<link href='{{resource_url}}prettify/prettify.css' rel='stylesheet' />
		<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
		<link href="{{resource_url}}pinout.css?v={{v}}" rel="stylesheet">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <script type='text/javascript'>
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-32070014-1']);
      _gaq.push(['_trackPageview']);
      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
	</head>
	<body>
		<div id="container">
		<ul class="main-nav">
			<li><a href="http://pi.gadgetoid.com/">Pi Blog</a></li>
			<li><a href="https://twitter.com/gadgetoid"><i class="fa fa-twitter"></i> @Gadgetoid</a></li>
			<li><a href="https://github.com/Gadgetoid/Pinout2"><i class="fa fa-github"></i> Contribute</a></li>
		</ul>
		<h1 class="logo"><a title="Raspberry Pi GPIO Pinout home" href="/pinout"><img src="{{resource_url}}pinout-logo.png" style="top:8px;" /><span>Raspberry Pi</span>n<span class="out">out</span></a></h1>
		<div class="overlay-container">
			<span>Learn about Pi add-ons and pin functions <i class="fa fa-arrow-right"></i></span>
			<select class="overlay">
				<option value="">&hellip;</option>
				{{overlays}}
			</select>
		</div>
		<nav id="gpio">
			<div id="pinbase"></div>
			<div id="pinbasebplus"></div>
			{{nav}}
		</nav>
		<div id="content">
			<div id="pages">
				{{content}}
			</div>
		</div>

		<script type="text/javascript" src="http://cdn.jsdelivr.net/jquery/1.9.1/jquery-1.9.1.min.js"></script>
		<script type="text/javascript" src="http://cdn.jsdelivr.net/prettify/0.1/prettify.js"></script>
    	<script src='{{resource_url}}prettify/lang-ruby.js'></script>
    	<script src='{{resource_url}}prettify/lang-bash.js'></script>
		<script src='{{resource_url}}pinout.js?v={{v}}'></script>
</body>
</html>
