			<div id="leftcolumn">
				<nav id="boardsnav">
					<div class="facets"></div>
				</nav>
			</div>
			<div id="content">
				<div id="interfaces">
					<ul>
					{{interfaces}}
					</ul>
				</div>
				<div id="crumbtrail">
					<p>
						<a class="more" href="/">&laquo; Return to the Raspberry Pi GPIO Pinout</a>
					</p>
				</div>
				<div id="boards_header">
					<article>
						<h1>Raspberry Pi HATs, pHATs &amp; Add-ons</h1>
						<p>Click on a HAT, pHAT or add-on for more details and to see which pins it uses!</p>
					</article>
				</div>
				<div id="pages">
					<div id="boards"><ul>{{content}}</ul></div>
				</div>
				<div id="lang">
					<ul class="lang-nav">
						{{lang_links}}
					</ul>
				</div>
			</div>