<p>Spotted an error, want to add your board's pinout? <a href="https://github.com/pinout-xyz/Pinout.xyz">Contribute to Pinout.xyz at GitHub.com/pinout-xyz/Pinout.xyz</a></p>
<p>Originally part of <a href="http://pi.gadgetoid.com">pi.gadgetoid.com</a>. Maintained by <a href="https://twitter.com/gadgetoid">@Gadgetoid</a>.</p>
<p>Want to help make Pinout.xyz better? Please <a href="https://github.com/sponsors/Gadgetoid">sponsor at GitHub</a> or <a href="https://www.patreon.com/gadgetoid">pledge at Patreon.com</a></p>
