<p>Found an error, want to add your board's pinout? Visit our <a href="https://github.com/pinout-xyz/Pinout.xyz">GitHub repository</a> and submit an Issue or a Pull Request!</p>
<p>Originally part of <a href="http://pi.gadgetoid.com">pi.gadgetoid.com</a>. Tweet us at <a href="https://twitter.com/pipinout"> @PiPinout</a>. Maintained by <a href="https://twitter.com/gadgetoid">@Gadgetoid</a> and <a href="https://twitter.com/roguehal13">@RogueHAL13</a>.</p>
<p>Translation by <a href="https://github.com/LizardM4">@LizardM4</a>.</p>
