$color-purple: #6c71c4;
$color-pink: #D33682;
$color-green: #859900;
$color-red: #DC322F;
$color-yellow: #B58900;
$color-blue: #268BD2;
$color-cyan: #2aa198;

$color-dark: #073642;

$color-content-bg: rgba(235, 230, 211, 0.5);

$nav-bg: #5F8645;

$overlay-pin-bg: rgb(235, 230, 211);
$overlay-pin-fg: #063541;

$overlay-pin-bg-hover: rgb(245, 243, 237);
$overlay-pin-fg-hover: $overlay-pin-fg;

ul, li, a, body, h1, h2, h3, h4, h5, h6, p {margin:0;padding:0;text-decoration:none;}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight:500;
    font-size: 12pt;
    background:#ffffff;
    color:$color-dark;
    padding: 5px;
}

table {
    margin:20px 0;
    border-collapse:collapse;
    text-align:left;
    font-size:.8em;

    td, th {border:1px solid $color-dark;padding:5px;}
    th {background:$color-dark;color:$color-content-bg;}

    &.details {
        font-size:inherit;
        width:100%;

        td, th {
            border:none;vertical-align:top;padding:0;
        }

        img {margin-top:54px;}
    }

    &.pin-functions {
        width:100%;

        td {width:16.6666%;}
    }
}

pre {
    text-wrap-mode: wrap;
    white-space-collapse: break-spaces;
    word-wrap: anywhere;
}

.logo {
    font-family: 'Avenir', sans-serif;
    width: 200px;
    font-size: 22px;
    line-height: 23px;
    cursor: pointer;
    font-weight: 600;
    align-self: center;

    a {color:$color-dark;line-height:22px;}

    img {float:left;margin:0px 5px 0px 0px;width:45px;}

    a:hover span, a:hover, a:hover span.out {
        color:$color-dark;
    }
}


img.grayscale {
    filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}

header {
    margin-bottom: 10px;
}

main {
    display: grid;
    grid-column-gap: 5px;
    grid-row-gap: 2px;
    grid-template-areas:
        "crumbtrail"
        "interfaces"
        "pinout"
        "content"
        "legend";
}

/*
Footer language nav
*/

#lang {
    display:block;
    background:#C7C2AE;
    position:absolute;
    bottom:0px;
    width:100%;
    font-size:0;
    text-align:right;

    a {
        display:inline-block;
        margin: 10px;
        margin-left:0px;
    }
}

/*
Content Area
*/

h1,h2,h3,h4,h5,h6 {
    font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
    line-height: 120%;
}

section {
    grid-area: content;
    background: $color-content-bg;
    padding-bottom: 20px;

    hr {
        border:none;
        background:none;
        border-top:2px solid darken($color-content-bg,10%);
    }

    h1 {
        font-size: 1.6em;
    }

    h2, h3 {
        font-size: 1.3em;
        margin-top: 1.5em;
    }

    h1 + h2 {
        margin-top: 0;
        color: $color-green;
    }

    p, pre {
        margin-top: .5em;
        line-height: 140%;
    }

    p img {
        margin-top: 1.5em;
    }

    article {
        padding:15px;
        .pin-hover {cursor:help;color:#880000;}
        .pin-hover:hover {color:#AA0000;}
         img {max-width:100%;}
         .details img {min-width:200px;}
         a {
            color: $color-pink;
            text-decoration: underline;

            &:hover {text-decoration:none;}
         }
         li {margin:0;}
         ul {
            margin:.5em 0 1em 25px;
            line-height: 140%;
            li {
                margin-bottom:.5em;
            }
        }
    }
}

/*
Boards Page
*/

#boards > ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#boards .board, #featured .board  {
    box-sizing:border-box;
    list-style: none;
    display:block;
    text-align:center;

    a {
        padding-top: 20px;
        padding-bottom: 0px;
        min-height: 220px;
        display:block;
        background:none;
    }

    img {
        max-width:80%;
        height:auto;
        display:block;
        margin:0 auto;
    }

    strong  {
        font-family: 'Avenir', sans-serif;
        font-weight: 500;
        color:#FFFFFF;
        margin: 0;
        padding: 0 5px;
        display:block;
    }

    span {
        color: #FFFFFF;
        font-size: 0.75em;
        font-weight: normal;
        margin: 0;
        padding: 0 5px;
        display:block;
    }
}

#boards .board {
    a:hover {
        background: lighten($color-content-bg,5%);
    }
    strong {
        color:#333333;
    }
}

.facets {
    padding: 0;
    background: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-right: 18px;
    margin-bottom: 18px;

    h4 {
        text-transform: capitalize;
        font-size: 1.2em;
        margin: 10px 0 0 0;
        color:$color-dark;
    }

    ul, li {
        margin:0;
        padding:0;
        list-style:none;
    }

    .facet li {
        display: inline-block;
        padding: 6px 7px 6px 7px;
        margin-top: 2px;
        margin-right: 2px;
        background: $color-green;
        color: #FFF;
        line-height: 160%;
        font-size:.6em;
        cursor:pointer;
        text-transform:capitalize;

        &:hover, &.selected {
            color: $color-green;
            background: lighten($color-green, 35);
        }
    }

    .facet:nth-of-type(2) li {
        background: $color-pink;
    }

    .facet:nth-of-type(2) li:hover, .facet:nth-of-type(2) li.selected {
        color: $color-pink;
        background: lighten($color-pink, 35);
    }

    .facet:nth-of-type(1) li {
        background: $color-blue;
    }

    .facet:nth-of-type(1) li:hover, .facet:nth-of-type(1) li.selected {
        color: $color-blue;
        background: lighten($color-blue, 35);
    }
}


/*
Featured Boards
*/


#featured {
    overflow:hidden;
    background:#C32672;

    ul {
        overflow: hidden;
    }

    .board  {
        width:25%;

        a {
            min-height: 130px;
            padding-top: 10px;
            padding-bottom: 10px;

            &:hover {
                background: $color-pink;
            }
        }

        img {max-width:50%;}
    }
}

/*
Footer
*/

footer {
    padding: 20px 0px;
    text-align:center;

    a {color:$color-cyan;}

    p {
        line-height: 130%;
        margin: .5em 0 .5em 0;
    }
}


/*
Left Column
*/


#crumbtrail {
    grid-area: crumbtrail;
    background:$color-dark;
    font-size: 0.8em;

    p {
        color:#fff;
        margin:0;
        padding:5px 15px;
    }
    a, a:hover, a:active {
        color:#fff;
    }
    a.more {
        text-align:center;
        display:block;
    }
    a:hover {
        text-decoration: underline;
    }
}

#interfaces {
    grid-area: interfaces;
    background: $color-purple;
    padding: 0px 0px 2px 2px;
    line-height: 2px;
    text-align: center;
    font-size: .7em;

    div {
        background: darken($color-purple,5%);
        line-height: 1.45em;
        grid-column: 1;
        color: #FFF;
        align-content: center;
        padding: 6px;
        margin-top: 2px;
        
        a, a:hover, a:visited, a:active {
            color: #FFF;
        }
        a:hover {
            text-decoration: underline;
        }
    }

    ul {
        grid-column: 2;
    }

    ul, li {
        list-style:none;
        margin:0;
        padding:0;
    }

    li {
        display: contents;
        a {
            display: inline-block;
            padding: 6px 7px 6px 7px;
            margin-top: 2px;
            margin-right: 2px;
            background: darken($color-purple,5%);
            color: #FFF;
            line-height: 1.45em;

            &:hover {color: darken($color-purple,5%);background:mix($color-purple,#FFF,20%);}
        }

        &.selected a {
            background:darken($color-purple,10%);
            color: #FFF;
            text-decoration: underline;
        }
    }
}

.boards-page #interfaces, 
.board #interfaces {
    display: none;
}

/*
GPIO nav
*/
#gpio {
    grid-area: pinout;
    display: grid;
    grid-template-columns: 50% 50%;
    background:$nav-bg;

    .name {
        font-family: ui-monospace,
            Menlo, Monaco,
            "Cascadia Mono", "Segoe UI Mono",
            "Roboto Mono",
            "Oxygen Mono",
            "Ubuntu Monospace",
            "Source Code Pro",
            "Fira Mono",
            "Droid Sans Mono",
            "Courier New", monospace;
        letter-spacing:-.6pt;
    }

    ul {
        list-style: none;
        display: block;
        padding: 5px 0;
    }

    a {
        display:block;
        position:relative;
        font-size:.65em;
        line-height:22px;
        height:22px;
        margin-bottom:2px;
        color:#E9E5D2;
    }

    .phys {
        color:$color-dark;
        font-size:0.8em;
        opacity:0.8;
        position:absolute;
        left:32px;
        text-indent:0;
    }

    .pin {
        display:block;
        border:1px solid transparent;
        border-radius:50%;
        width:16px;
        height:16px;
        background:#002B36;
        position:absolute;
        right:4px;
        top:2px;

        &:after {
            content:'';
            display:block;
            border-radius:100%;
            background:#FDF6E3;
            position:absolute;
            left:5px;
            top:5px;
            width:6px;
            height:6px;
        }
    }

    .top {
        padding-left: 1px;
        background: linear-gradient(90deg, rgba(7, 54, 66, 1) 29px, rgba(0, 0, 0, 0) 29px);
        li {text-indent:48px;}

        a {
            border-top-left-radius:13px;
            border-bottom-left-radius:13px;
        }
        .overlay-ground .phys {
            padding-left:31px;
            left:0;
        }
        .pin {
            left:4px;
            top:2px;
        }
    }

    .bottom {
        padding-right: 1px;
        background: linear-gradient(270deg, rgba(7, 54, 66, 1) 29px, rgba(0, 0, 0, 0) 29px);
        a {
            text-indent:6px;
            border-top-right-radius:13px;
            border-bottom-right-radius:13px;
        }
        .overlay-ground .phys {
            padding-right:32px;
            right:0;
        }
        .phys {
            text-align:right;
            left:auto;
            right:32px;
        }
    }

    .gnd a {color:rgba(233, 229, 210, 0.5)};
    &:hover {color:rgba(6, 53, 65, 0.5);}

    a:hover,
    .active a {
        background:rgb(245, 243, 237);
        color:#063541;
    }

    li a small {font-size:0.8em;}

    .overlay-pin {
        a {
            background:$overlay-pin-bg;
            color:$overlay-pin-fg;

            &:hover {
                background:$overlay-pin-bg-hover;
                color:$overlay-pin-fg-hover;
            }
        }
        &.gnd a {
            color:rgba(6, 53, 65, 0.5);
        }
    }

    .overlay-power {
        .phys {
            color:#FFFFFF;
            opacity:1;
        }
        a {
            background:$color-dark;
            color:#FFFFFF;

            &:hover {
                background:$color-blue;
            }
        }
    }

    .overlay-ground {
        .phys {
            background:$color-dark;
            color:#FFFFFF;
            opacity:1;
            position:absolute;
            top:0px;
            width:14px;
            height:22px;
            border-radius:2px;
            text-indent: 0px;
            line-height: 22px;
        }
        a:hover .phys {
            background:$color-blue;
        }
        span.pin {background:$color-dark;}
    }


    ul li.hover-pin a,
    .bottom li.hover-pin a {
        color:#FFF;
        background:rgba(200,0,0,0.6);
        .phys {color:#FFF}
    }

    .pin1 a:hover, .pin1.active a, .pin1 .pin {border-radius:0;}

    .pow3v3 .pin {background:$color-yellow;}
    .pow5v .pin {background:$color-red;}
    .gpio .pin {background:$color-green;}
    .i2c .pin {background:$color-blue;}
    .spi .pin {background:$color-pink;}
    .pcm .pin {background:$color-cyan;}
    .uart .pin {background:$color-purple;}
}
.board #gpio {grid-row: 2;}

#boardsnav {
    grid-area: "pinout";
}

aside {display:contents;}

#legend {
    grid-area: legend;
    display: grid;
    grid-template-columns: auto calc(196px * 0.666);
    margin-top: 1em;

    h2 {
        margin-top:5px;
        margin-bottom:5px;
    }
    img {
        margin-top: calc(1.5em + 12px);
        width: 100%;
        height: auto;
    }
    p {
        font-size:.8em;
        padding: 0 10px 10px 0;
    }
    ul, li {
        list-style:none;
        margin:0;
        padding:0;
    }
    li {
        position:relative;
        margin-bottom: .4em;
        line-height:20px;
        small {
            font-size:0.8em;
        }
    }

    a {
        padding: 0 12px 0 25px;
        font-family: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono", "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
        letter-spacing:-.6pt;
        span {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
    }

    li, a {
        color:$overlay-pin-fg;
    }

    .pow3v3 .pin {background:$color-yellow;}
    .pow5v .pin {background:$color-red;}
    .gpio .pin {background:$color-green;}
    .i2c .pin {background:$color-blue;}
    .spi .pin {background:$color-pink;}
    .uart .pin {background:$color-purple;}
    .pcm .pin {background:$color-cyan;}

    .pin {
        display:block;
        border:1px solid transparent;
        border-radius:50%;
        width:16px;
        height:16px;
        background:#002B36;
        position:absolute;
        left:2px;
        top:2px;

        &:after {
            content:'';
            display:block;
            border-radius:100%;
            background:#FDF6E3;
            position:absolute;
            left:5px;
            top:5px;
            width:6px;
            height:6px;
        }
    }
}

code {
    font-family: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono", "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
}

@media screen and (min-width: 540px) {
    #interfaces {
        font-size: .8em;
    }

    #gpio {
        a {
            font-size:.8em;
        }

        .top li {
            text-indent:56px;
        }

        .overlay-ground .phys {
            width: 22px;
            border-radius:11px;
        }
    }
}

@media screen and (min-width: 1000px) {
    .boards-page #interfaces, 
    .board #interfaces {
        display: grid;
    }

    .facets .facet li, #interfaces ul a {
        font-size: .8em;
    }
    section {
        grid-column: 2;
        grid-row: 3;
        min-height: 640px;
        padding-bottom: 50px;
    }
    aside {
        display: block;
        grid-column: 1;
        grid-row: 1/-1;
    }

    #legend {
        grid-template-columns: auto 196px;
    }

    #legend, #gpio, .board #gpio, #interfaces, #crumbtrail {
        grid-area: unset;
    }
    header {
        width: 1000px;
        margin: 0 auto;
        height: 70px;
        display: grid;
    }

    main {
        grid-template-columns: 500px auto;
        grid-template-rows: auto auto auto auto;
        grid-template-areas: unset;
        width: 1000px;
        margin: 0 auto;
    }

    .boards-page main {
        grid-template-columns: 302px auto;
    }
    
    #boards > ul {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .boards-page #interfaces, 
    .board #interfaces,
    #interfaces {
        grid-column: 2;
        display: grid;
        grid-template-columns: 200px auto;
        text-align: right;
        div {
            text-align: left;
            a {
                display: block;
            }
        }
    }

    #interfaces {
        font-size: 1em;
    }

    #crumbtrail {
        grid-column: 2;
        font-size: inherit;
    }

    #gpio a {
        font-size:.8em;
    }
}


@media screen and (min-width: 1200px) {
    main, header {
        width: 1180px;
    }
    
    #boards > ul {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
