@page {
	margin: 15mm;
}

#interfaces,
#lang,
#legend,
#pinout-view,
#crumbtrail a.more,
.logo img,
footer {
	display: none !important;
}

*,
*::before,
*::after {
	background: transparent !important;
	color: #000000 !important;
	box-shadow: none !important;
	text-shadow: none !important;
}

a {
	text-decoration: none;
}

aside {
	break-inside: avoid;
}

nav#gpio a {
	font-size: 0.75em;
}

nav#gpio .pin::before {
	border: 1px solid #000000;
	box-sizing: border-box;
}

nav#gpio .pow5v .pin::before,
nav#gpio .i2c .pin::before,
nav#gpio .spi .pin::before,
nav#gpio .pcm .pin::before,
nav#gpio .uart .pin::before {
	background: #000000 !important;
}

nav#gpio .overlay-pin a,
nav#gpio .overlay-power a,
nav#gpio .overlay-ground a {
	font-weight: bold;
}

nav#gpio .overlay-pin .pin::before,
nav#gpio .overlay-power .pin::before,
nav#gpio .overlay-ground .pin::before {
	border-width: 2px;
}

.prettyprint,
.prettyprint.linenums {
	border: 1px solid #000000;
}
