<p>Vous Voyez des erreurs? Vous voulez contribuer? Rejoignez-nous sur <a href="https://github.com/gadgetoid/Pinout.xyz">GitHub!</a></p>
<p>Publié initialement sur <a href="http://pi.gadgetoid.com">pi.gadgetoid.com</a>. Twitter <a href="https://twitter.com/pipinout"> @PiPinout</a>. Site maintenu par <a href="https://twitter.com/gadgetoid">@Gadgetoid</a> et <a href="https://twitter.com/roguehal13">@RogueHAL13</a>.</p>
<p>Traduction par <a href="https://github.com/RogueM">@RogueM</a> et <a href="https://github.com/smileyn64">@smileyn64</a>.</p>
