name: Pages

on:
  pull_request:
  push:
    branches:
      - master
      - main

jobs:
  test:
    name: Test Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Python 3.11
        uses: actions/setup-python@v5
        with:
          python-version: 3.11

      - name: Install Dependencies
        run: |
          make deps

      - name: Build Packages
        run: |
          make LANG=en
          cp -r phatstack output/en
